body {
  text-align: left;
  color: #F6F7FF;
  background-color: #F4F5F7;
}

header{
  position: fixed;
  z-index: 10;
  background: #0D264A;
  width: 100vw;
  height: 70px;
}

header ul li{
  text-decoration: none;
}

aside{
  color: #0D264A;
}