@charset "utf-8";


/* 共通のスタイル */
body {
  text-align: left;
  color: #333333;
  background-color: #fff;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
input ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

input ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

input :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

input:focus {
  outline: 0 transparent solid;
}

input:focus ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

input:focus ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

input:focus :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.login-text {
  color: white;
  font-size:30px;
  font-weight: bold;
  text-align: left;
  text-shadow: black 1px 1px 10px;
}

.sub-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  margin-top: 5px;
  text-align: left;
  text-shadow: black 1px 1px 10px, black -1px 1px 10px;
}

.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 1rem auto;
  width: 100%;
  min-width: 1px;
  padding: 17px;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
  margin-top: 50px;
  cursor: pointer;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.8);
}

.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  font-size: 15px;
  padding: 10px 0;
  margin: 40px 0;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
  width: 100%;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.8);
  /* text-shadow:black 1px 1px 10px; */
}

#particles-js {
  /* position: absolute;
  top: 0;
  right: 0; */
  /* width: 68vw;
  height: 100vh; */
  /* position: relative; */
  /* z-index: -20; */
  pointer-events: none;
  width: 100%;
  height: 100%;
}

canvas.particles-js-canvas-el {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  pointer-events: none;
}
