input ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input:focus {
  outline: 0 transparent solid;
}

input:focus ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

input:focus ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

input:focus :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.login-wrap {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/login.png);
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.input-wrap{
  width: 50vw;
  margin: 30vh auto;
}

.login-text {
  color: white;
  font-size:30px;
  font-weight: bold;
  text-align: left;
}

.sub-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-top: 5px;
  text-align: left;
}

.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  font-size: 14px;
  padding: 10px 0;
  margin: 40px 0;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
  width: 100%;
}

.login-username::placeholder , .login-password::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.login-username:focus, .login-password:focus {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
}

.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 1rem auto;
  width: 100%;
  min-width: 1px;
  padding: 17px;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
  margin-top: 50px;
  cursor: pointer;
}

.login-submit:hover, .login-submit:focus {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
}


@-webkit-keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}