#login-wrap {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/login.png);
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  /* opacity: 0;
  transition: 5s;
  opacity: 1; */
}

.input-wrap{
  width: 50vw;
  margin: 30vh auto;
}
.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  font-size: 14px;
  padding: 10px 0;
  margin: 40px 0;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
  width: 100%;
}

.login-username::placeholder , .login-password::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.login-username:focus, .login-password:focus {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
}

.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 1rem auto;
  width: 100%;
  min-width: 1px;
  padding: 17px;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
  margin-top: 50px;
  cursor: pointer;
}

.login-submit:hover, .login-submit:focus {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
}