body {
  display: flex;
  flex-direction: column;
  background-color: #f4f5f7;
  box-sizing: border-box;
}

.header {
  height: 65px;
  text-align: right;
  background-color: #113160;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.header img {
  position: fixed;
  left: 10px;
  top: 0;
}

.btn2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid #3367ff;
}

.btn4 {
  position: relative;
}

.btn4::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #3367ff;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}

.btn4:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

ul.header-ul {
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
  z-index: 20;
}

ul.header-ul li {
  display: inline-block;
  padding: 25px 20px 20px 20px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  /* display: flex; */
  min-height: 100vh;
}

.content {
  /* flex: 1; */
  background-color: #eee;
  text-align: center;
  position: fixed;
  height: 100vh;
  max-height: 100vh;
  width: 80vw;
}

.content-wrap {
  width: 100%;
  height: 90%;
  /* background: red; */
  position: absolute;
  top: 65px;
  /* border: 1px solid blue; */
}

.content-ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.content-ul li{
  margin: 3px;
  flex-basis: 30vw;
}


.content-ul li:nth-child(2){
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:500);
.snip1397 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  background: #2980b9;
  text-align: left;
  color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  object-fit: cover;
}

.snip1397 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.snip1397 > img,
.snip1397 .image img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  height: 43vh;
  width: 100%;
  object-fit: cover;
}

.snip1397 > img {
  vertical-align: top;
  position: relative;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.7;
}

.snip1397 .image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1), 0px -1px 0 rgba(255, 255, 255, 0.2);
}

.snip1397 .image img {
  position: absolute;
  top: 0;
  left: 0;
}

.img-cap{
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.img-cap p:first-child{
  font-size: 3rem;
  color: #fff;
}

.img-cap p:nth-child(2){
  margin-top: 1rem;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}

.snip1397 .read-more {
  display: block;
  opacity: 0;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 15px;
  color: #ffffff;
  right: 0;
  bottom: 0;
  font-weight: 500;
  position: absolute;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1397 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1397:hover .read-more,
.snip1397.hover .read-more {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.snip1397:hover .image,
.snip1397.hover .image {
  bottom: 50px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.localNavigation {
  text-align: center;
  background-color: #888;
  color: #fff;
  width: 20vw;
  /* height: 200vh; */
  font-size: 10vh;
  overflow: scroll;
  float: right;
}

.footer {
  clear: both;
  width: 100vw;
  height: 40px;
  text-align: center;
  background-color: #113160;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-family: "Lato", sans-serif;
}
